PHD.py
electricity_mix.png
network_map_stor.png
duration_curve.png
operating_points.png
duration_curve_intermittent.png
network_map.png
Data/BRIO
Data/Consumption
Data/courbe-de-charge-de-la-production-delectricite-par-filiere.csv
Data/courbe-de-charge-de-la-production-delectricite-par-filiere_V2.csv
Data/data.xlsx
Data/dataarticle.xlsx
Data/hydrogen.xlsx
