PHD.py
electricity_mix.png
network_map_stor.png
duration_curve.png
operating_points.png
duration_curve_intermittent.png
network_map.png
network_map_ely.png
Data/BRIO
Data/Consumption
Data/registre-des-installations-de-production-et-de-stockage-50.csv
Data/courbe-de-charge-de-la-production-delectricite-par-filiere.csv
Data/courbe-de-charge-de-la-production-delectricite-par-filiere_V2.csv
Data/data.xlsx
Data/dataarticle.xlsx
Data/hydrogen.xlsx
__pycache__/
*#
.vscode
